* {
    font-family: 'Heebo', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.navbar {
    background-color: gold;
    color: rgb(14, 11, 11);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 10px 50px 30px 50px;
    overflow: hidden;
}

.searchbar {
    border: transparent;
    background-color: transparent;
    display: flex;
    justify-content: center;
    position: relative;
}

.searchbar__box {
    background-color: white;
    color: rgb(199, 197, 197);
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 65%;
    border: white;
    box-shadow: 0px 2px 3px rgb(199, 197, 197);
    border-radius: 30px;
    padding: 5px 30px;
    position: absolute;
    top: -32px;
}

#header_search {
    border: transparent;
}

.searchbar__input {
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

input::-webkit-input-placeholder {
    font-size: 20px;
    color: rgb(199, 197, 197);
}

input:focus {
    outline: none;
}


/* main */

main {
    margin: 33px 20px;
    padding: 20px 10px;
}

.headings {
    font-size: 26px;
    font-weight: bolder;
}

.book-of-day {
    /* border: pink 2px solid; */
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
}

.book-of-day__cover img {
    border-radius: 15px;
}

.book-of-day__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px 18px;
}

.book-of-day__info p {
    margin: 0 0 2px 0;
}

.book-of-day__info-basic {
    margin: 0px 0px;
}

.book-of-day__info-title {
    font-size: 18px;
    font-weight: bolder;
}

.book-of-day__info-stars {
    margin: 10px 0px;
}

.book-of-day__info-stars i {
    color: gold;
    margin: 3px;
    font-size: 14px;
}

.book-of-day__info-stars i:last-child {
    color: rgb(199, 197, 197);
}

/* Top Adventures */
.top-adventures__items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
}

.top-adventures__item {
    margin-right: 23px;
}

.top-adventures__item img {
    border-radius: 10px;
}

.top-adventures__item-stars {
    font-size: 10px;
    color: gold;
    display: flex;
    justify-content: center;
}

.top-adventures__item-stars i {
    margin: 2px;
}