* {
    font-family: 'Nunito', sans-serif;
    /* Color */
    --color-lightgrey: rgb(239, 241, 245);
    --color-darkgrey: rgb(43, 43, 43);
    --color-black: rgb(14, 14, 14);
}

body {
    background-color: var(--color-lightgrey);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow-y: scroll;
}

.mainscreen {
    background-color: white;
    width: 26%;
    display: flex;
    flex-direction: column;
    border-radius: 43px;
    padding: 30px;
    box-shadow: 0px 1px 15px rgb(192, 192, 192);
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar button {
    color: var(--color-darkgrey);
    border: none;
    background-color: transparent;
    margin: 10px 0px 20px;
    font-size: 20px;
}


/* mainboard */

.mainboard {
    display: flex;
    flex-direction: column;
    /* border: 2px solid paleturquoise; */
    flex-wrap: wrap;
    height: 700px;
    margin: 10px 0px;
}

/* main-artist */
.main-artist {
    display: flex;
    justify-content: center;
}

.main-artist__box {
    text-align: center;
    width: 300px;
}

.artist-img img {
    width: 75px;
    height: 75px;
    border-radius: 40px;
    box-shadow: 0px 1px 10px rgb(252, 147, 98);
    margin: 10px 0px;
}

.artist-name {
    margin: 17px auto 5px;
    font-size: 28px;
    font-weight: 900;
}

.artist-genre {
    margin: 5px auto 15px;
    color: grey;
}

.artist-btns {
    width: 300px;
    height: 60px;
    margin: 15px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.artist-btns button {
    margin: 0px 10px;
    width: 180px;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    border-radius: 65px;
}

.artist-btn-shuffle {
    background-color: var(--color-black);
    color: white;
}

.artist-btn-hearts {
    background-color: white;
    color: grey;
    box-shadow: 0px 0px 9px 6px var(--color-lightgrey);
}

.artist-btn-hearts i {
    font-size: large;
    color: var(--color-black);
}


/* playlist */
.playlist {
    height: 56%;
    margin-left: -26px;
    overflow-y: scroll;
}

.playlist ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.playlist li {
    display: flex;
    align-items: center;
    /* border: 2px solid palegoldenrod; */
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 0px;
    width: 95%;
    height: 79px;
    line-height: 3.2px;
    position: static;
    border-radius: 10px;
    box-shadow: 0px 9px 6px var(--color-lightgrey);
}

.playlist-info {
    left: -11%;
    position: static;
    font-size: 16px;
    font-weight: 800;

}

.playlist-info p:first-child {
    color: grey;
    font-size: 13px;
    font-weight: 500;
}

.playlist-cover img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-left: 10px;
}

.playlist-btn {
    margin-right: 10px;
    color: grey;
}



/* control-box */
.control-box {
    border-radius: 40px;
    background-color: var(--color-black);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 24px;
    width: 85.5%;
    height: 67px;
    box-shadow: 0px 1px 10px rgb(192, 192, 192);
}

.control-box__info {
    line-height: 3.5px;
    margin: 0px 25px;
}

.control-box__info-artist {
    color: grey;
    font-size: 13px;
}

.control-box__info-title {
    font-weight: bolder;
    font-size: 17px;
}

.control-box__btns {
    display: flex;
    align-items: center;
}

.control-box__btns i {
    font-size: 11px;
    margin: 0px 13px;
}

.control-box__btns i:nth-child(2) {
    font-size: 23px;
}


/* Second Screen */
/* Play board */
.playboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.album-cover {
    margin: 30px auto;
}

.album-cover img {
    width: 250px;
    height: 250px;
    border-radius: 25px;
    box-shadow: 2px 6px 15px 1px rgb(252, 147, 98);
}

.album-detail {
    border: 2px solid pink;
    text-align: center;
    width: 300px;
    line-height: 5px;
    margin: 10px 0px;
}

.album-detail-title {
    font-size: 29px;
    font-weight: 900;
}

/* play-now */
.play-now {
    margin: 20px 0px;
    width: 93%;
    height: 20px;
}


.play-now__time {
    display: flex;
    flex-direction: column;
}

.play-now__time-box {
    justify-content: space-between;
    width: inherit;
    height: 25px;
}

.play-now__time-display {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: inherit;
}

.play-now__time-display p {
    height: inherit;
}

.play-now__bar {
    border: 2px solid blue;
    margin: 10px;
    width: inherit;
}


/* play buttons */
.play-btns {
    border: 2px solid orange;
    margin: 30px 0px;
}

.play-btns button {
    border: none;
}