* {
    font-family: 'Nunito', sans-serif;
    /* Color */
    --color-lightgrey: rgb(239, 241, 245);
    --color-darkgrey: rgb(43, 43, 43);
    --color-black: rgb(14, 14, 14);
}

body {
    background-color: var(--color-lightgrey);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mainscreen {
    background-color: white;
    width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 43px;
    padding: 30px;
    box-shadow: 0px 1px 15px rgb(192, 192, 192);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar button {
    color: var(--color-darkgrey);
    border: none;
    background-color: transparent;
    margin: 10px 0px 20px;
    font-size: 20px;
}


/* mainboard */

.mainboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}


/* playlist */
.playlist {
    height: 550px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}

/* control-box */
.control-box {
    border-radius: 40px;
    background-color: var(--color-black);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: -46px;
    width: 400px;
    height: 67px;
    box-shadow: 0px 1px 10px rgb(192, 192, 192);
}

.control-box__info {
    line-height: 3.5px;
}

.control-box__info-artist {
    color: grey;
    font-size: 13px;
}

.control-box__info-title {
    font-weight: bolder;
    font-size: 17px;
}

.control-box__btns {
    display: flex;
    align-items: center;
}

.control-box__btns i {
    font-size: 11px;
    margin: 0px 13px;
}

.control-box__btns i:nth-child(2) {
    font-size: 23px;
}